.hero-container{
    background-color: #FFF8F0;
    width: 100%;
    height: 805px;
    opacity: 100%;

}

.hero-container__text{
width: 539px;
height: 216px;
opacity: 100%;
position: relative;
top: -0.5px;
left: 100px;
font-family: Epilogue;
font-weight: 700;
font-size: 54px;
color:#17254E;
line-height: 72px;
letter-spacing: 0%;
vertical-align: middle;
text-transform: capitalize;
}

.hero-container__description{
width: 600.36px;
height: 64.59px;
opacity: 100%;
position: relative;
top: -46.05px;
left: 100px;
font-family: Sora;
font-weight: 400;
font-size: 17px;
line-height: 32.3px;
letter-spacing: 0%;
vertical-align: middle;
color:#333931;
}

.hero-container__cancel{
position: absolute;
top: 184.77px;
left: 502.2px;

}

.hero-container__symbol{
position: absolute;
top: 108.77px;
left: 666.2px; 
}

.hero-container__kid-picture1{
position: absolute;
opacity: 1;
top: -70px;
left: 2px;
border-bottom-right-radius: 144.97px;
border-bottom-left-radius: 144.97px;

}

.hero-container__picture-container{
position: relative;
width: 303px;
height: 386px;
top: -484px;
left: 597px;
border-top-left-radius: 137.8px;
border-bottom-right-radius: 137.8px;
border-bottom-left-radius: 137.8px;
background-color: #FF9500;
}

.hero-container__sun{
top: -888.3px;
left: 1135.8px;
position: relative;
}

.hero-container__button{
width: 208.91px;
height: 80px;
position: relative;
top: -64rem;
left: 44rem;
border: none;
}