.learning-img-wrapper{
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  height: auto;
  opacity: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  top:-700px;
}


.learning-img-wrapper__image2{
  position: relative; 
}


.learning-img-wrapper__image2{
 width: 1120px;
height: 550px;
opacity: 1;
top: 120px;
left: 100px;
border-radius: 50px;
position: absolute;
} 