.learning-img-wrapper{
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  height: 980px;
  opacity: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  top:-1020px;
}


.learning-img-wrapper__image2{
 width: 1120px;
height: 550px;
opacity: 1;
top: 420px;
left: 100px;
border-radius: 50px;
position: absolute;
z-index: 80;
} 