.hero-button{
    background-color: #FFFFFF;
    
}

.hero-button__number {
  display: block;
  font-family: 'Sora', sans-serif;
  font-weight: 400;
  font-size: 2.125rem; 
  line-height: 1;
  letter-spacing: normal; 
  color: var(--number-color);
}

.hero-button__text{
font-family: 'Sora', sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 32px;
letter-spacing: normal;
text-transform: capitalize;
color: var(--text-color);
}

.hero-button {
  border: none;
}

.hero-button--default {
  background-color: #FFFFFF;
  border-radius: 3.125rem;
  --number-color: #FF9E0E;
  --text-color: #333931;
}

.hero-button--light {
  background-color: #ffff;
  --number-color: #00BEAE;
  --text-color: #17254E;
}

.hero-button--primary {
  background-color: #FF9500;
  border-radius: 3.75rem;
  --number-color: #1d4ed8;
  --text-color: #FFFFFF;
}
