
.page-header{
    width: 100%;
    height: 50px;
    background-color: var(--secondary-color);
}

.page-header__socials{
width: 306.6px;
height: 50px;
opacity: 100%;
left: 1313.38px;
background-color: var(--primary-color);
display:flex;
justify-content: space-evenly;
align-items: center;
position:relative;
left:813.38px;
}

.page-header__socials__icons{
  display:flex;
  gap:20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.page-header__select{
  background-color: transparent;
    border:none;
    color:var(--tertiary-color);
    text-decoration:none;
}

.vertical-line {
  width: 0;
  height: 20px; 
  border: none;
  border-left: 2px solid white; 
  opacity:50%;
}

.vertical-line2 {
  width: 10px;
  height: 50px; 
  border: none;
  border-left: 2px solid var(--secondary-color); 
  opacity:50%;
}